
#tripViewer {
	
	width: 60%;
	margin: 0 auto;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #f44336;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #f44336;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #f44336
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #f44336;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #f44336;
}



#test{
	display:inline-block;
	width: 100%;
	margin:0 auto;
}

#loginCard {
	
	width: 40%;
	margin:0 auto;
	margin-top: 10%
	
}


#addTrip {
	
	width:30%;
	margin:0 auto;
}



 body {
 background-color:#ffca28;
    
  }

  
 nav {
 
 margin:0 auto;
 
 } 
  
  
  
  